@import "tailwindcss";

@theme inline {
  --color-background: #141414;
  --color-foreground: #f9f9f9;
  --color-blocks: #1f1f1f;
  --color-inputs: #262626;
  --color-inactive: #686868;
  --color-destructured: #E90516;
  --color-success: #30b94d;

  --font-main: var(--font-gilroy);
  --font-title: var(--font-gilroy-bold);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-main);
  }

  input::placeholder {
    font-family: var(--font-main);
    color: var(--color-foreground);
    line-height: 133%;
    letter-spacing: -0.02em;
    opacity: 1;
  }
}


@utility container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  padding: 20px;
  margin: 0 auto;


  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 32px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1280px;
  }
}



@utility white-button {
  background: var(--color-foreground);
  color: var(--color-background);
  font-family: var(--font-main);
  letter-spacing: 0.02em;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


@utility black-button {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-main);
  letter-spacing: 0.02em;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


@utility input {
  font-family: var(--font-main);
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-foreground);
}

/* globals.css */
@layer components {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.6);
    display: flex;
    z-index: 1000;
  }


  .modal-menu {
    background-color: #1C1C1C;
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .modal-popup {
    background-color: #1C1C1C;
    border-radius: 16px;
    padding: 24px;
    max-width: 400px;
    width: 90%;
    margin: auto;
    position: relative;
  }
}